<div class="col-md-12">
<div class="top-content">
        	
            <div class="inner-bg">
                
                        <div class=" text-center">
                            <h1>TeamChat App</h1>
                        </div>
                    </div>
                    <div class="row" ng-controller="sessionCtrl">
                        <div class="col-sm-6 col-sm-offset-3 form-box">
                        	<div class="form-top">
                        		
                        		<div class="form-top-right">
                        			<i class="fa fa-lock"></i>
                        		</div>
                            </div>
                            <div class="form-bottom">
			                    <form role="form" class="login-form" ng-submit="submit()" action="/home" method="post">
			                    	<div class="form-group">
			                    		<label class="sr-only" for="form-username">Enter Session Name...</label>
			                        	<input type="text" ng-model="sname" name="sessionid" placeholder="Enter Session Name..." class="form-username form-control" id="form-sessionid">
			                        </div>
			                        <button type="submit" class="btn login-btn">Create New Session</button>
			                    </form>
		                    </div>
                        </div>
                    </div>
                   
                </div>
</div>