<div>
            
            <ul class="sidebar-nav">
                <li class="sidebar-brand">
                    <a href="/#/home/">Back To Home </a>
                    
                    
                    </a>
                </li>
                <li class="sidebar-brand">
                    <a ng-click="isCollapsed1 = !isCollapsed1">Active Sessions <span class="glyphicon glyphicon-plus" aria-hidden="true" ng-hide="!isCollapsed1"></span> <span class="glyphicon glyphicon-minus" aria-hidden="true" ng-hide="isCollapsed1"></span></a>
                    
                    
                    </a>
                </li>
                <div uib-collapse="isCollapsed1">
                    
                        <li ng-repeat="item in maininfo.active"><a href="/#/chat/{{item._id}}">{{item.sessionName}}</a></li>
                       
                </div>
            </ul>
            </div>
            <div>
            <ul class="sidebar-nav">
                <li class="sidebar-brand">
                    <a ng-click="isCollapsed2 = !isCollapsed2">History <span class="glyphicon glyphicon-plus" aria-hidden="true" ng-hide="!isCollapsed2"></span> <span class="glyphicon glyphicon-minus" aria-hidden="true" ng-hide="isCollapsed2"></span></a>
                    
                    </a>
                </li>
                    <div uib-collapse="isCollapsed2">
                        <li ng-repeat="item in maininfo.ended"><a href="/#/chat/{{item._id}}">{{item.sessionName}}</a></li>
                       
                    </div>
            </ul>
            <div>
	<div class="progress">
  <div class="progress-bar" role="progressbar" aria-valuenow="{{counter}}"
  aria-valuemin="0" aria-valuemax="900" ng-style="{width:counter/900*100+'%'}">
    <span class="sr-only">{{counter}}% Complete</span>
  </div>
</div>
   <kbd> {{counter | secondsToDateTime | date:'HH:mm:ss'}}</kbd>
   
   <button class="btn btn-warning" ng-click="stop()" ng-hide="maininfo.chatStatus === 'waiting' || maininfo.chatStatus === 'ended'">Stop</button>
   <button class="btn btn-warning" ng-click="start()" ng-hide="maininfo.chatStatus === 'active' || maininfo.chatStatus === 'ended'">Start</button>
</div>
            </div>