<div>
            
            <ul class="sidebar-nav">
                <li class="sidebar-brand"><a href="/#/home/">Back To Home</a></li>
                <li class="sidebar-brand">
                    <a ng-click="isCollapsed = !isCollapsed">Active Sessions <span aria-hidden="true" ng-class="class"></span></a>
                    
                    
                    </a>
                </li>
                <div uib-collapse="isCollapsed">
                    
                        <li ng-repeat="item in maininfo.active"><a href="/#/chat/{{item._id}}">{{item.sessionName}}</a></li>
                       
                </div>
            </ul>
            </div>
            <div>
            <ul class="sidebar-nav">
                <li class="sidebar-brand">
                    <a ng-click="isCollapsed = !isCollapsed">History <span class="glyphicon glyphicon-plus" aria-hidden="true"></span></a>
                    
                    </a>
                </li>
                    <div uib-collapse="isCollapsed">
                        <li>
                            <a href="#">Dashboard</a>
                        </li>
                       
                    </div>
            </ul>
            <div>
	<div class="progress">
  <div class="progress-bar" role="progressbar" aria-valuenow="{{counter}}"
  aria-valuemin="0" aria-valuemax="900" ng-style="{width:counter/900*100+'%'}">
    <span class="sr-only">{{counter}}% Complete</span>
  </div>
</div>
   <kbd> {{counter | secondsToDateTime | date:'HH:mm:ss'}}</kbd>
   
   <button class="btn btn-warning" ng-click="stop()" ng-hide="maininfo.chatStatus === 'waiting' || 'ended'">Stop</button>
   <button class="btn btn-warning" ng-click="start()" ng-hide="maininfo.chatStatus === 'active'">Start</button>
</div>
            </div>